body {
  display: inline-block;
  width:100%
}

*,
::after,
::before {
  box-sizing: border-box;
}

.list-box {
  width: 530px;
  z-index: -1;
}

.list-title-wriper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.list-title, .confirm-title {
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  padding: 5px 20px;
}

.list-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-head, .list-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item-column, .list-head-item {
  width: 160px;
  display: flex;
  text-align: start;
  padding: 5px;
}

.icons {
  display: flex;
  justify-content: start;
  padding: 5px;
  gap: 5px;
}

.btn-icon {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.plus {
  background-image: url(../svg/plus.svg);
  background-position: center;
  background-size: cover;
}

.edit {
  background-image: url(../svg/pencil.svg);
  background-position: center;
  background-size: cover;
}

.remove {
  background-image: url(../svg/form-x.svg);
  background-position: center;
  background-size: cover;
}

.form {
  width: 400px;
  padding: 30px;
  border: 1px solid;
  background-color: #fff;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.input {
  padding: 10px;
  border: 1px solid;
  border-radius: 15px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.btn {
  width: 180px;
  padding: 10px;
  border: 1px solid;
  border-radius: 15px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50px;
  z-index: 0;
}

.hidden, .confirm.hidden {
  display: none;
}

.form-error {
  position: absolute;
  padding: 5px 10px;
  width: 200px;
  background: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.confirm {
  position: fixed;
  top: 200px;
  left: 145px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #000;
  z-index: 0;
}

.yes, .no {
  width: 100px;
}